.cb-container {
    background: $primary;
    min-height: calc(100vh);

    .title {
        color: $white;
        font-family: monospace;
    }


    .step {
        border-radius: 3px;
        background: $white;
    

        input {
            border-radius: 0;
        }

        button {
            border-radius: 0;
        }
    }

}