// @font-face {
//   font-family: "Gravedigger";
//   src: url("../Assets/fonts/Gravedigger.ttf") format("truetype");
// }

.logoblocklandingfont {
  font-family: "Roboto", sans-serif;
}

.logofontspacing {
  letter-spacing: 2px;
}

.logofontcolor {
  color: $black;
}
