.stepindicator {
  background-color: $white;
  width: 100px;
  border-radius: 50%;
  min-height: 60px;
  min-width: 60px;
  max-height: 60px;
  max-width: 60px;

  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));

  &.light {
    background: #678dac !important;
    color: $white !important;
  }

  &.selected {
    background-color: #1c77c3 !important;
    color: $white !important;

    &.light {
      background: $white !important;
      color: $primary !important;
    }
  }

}

.stepindicator-num {
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
  font-weight: 300;
}

